@model Dto.Inventory.Item
<div>
    <a href="#" id="linkEdit" class="btn" onclick="onClickEditButton();">
        <i class="fa fa-edit"></i>
        Edit
    </a>
</div>
<form action="~/inventory/saveitem" method="post">
    <div id="divItemCard" class="col-md-9">
        @Html.HiddenFor(m => m.Id)
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">No</div>
                        <div class="col-sm-9">@Model.No</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Code</div>
                        <div class="col-sm-9">
                            <input asp-for="Code" class="form-control" type="text" placeholder="Code ..." />
                            <span asp-validation-for="Code" class="danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Description</div>
                        <div class="col-sm-9">
                            <input asp-for="Description" class="form-control" type="text" placeholder="Description ..." />
                            <span asp-validation-for="Description" class="danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Smallest UOM</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="SmallestMeasurementId" asp-items="@ViewBag.Measurements"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Category</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="ItemCategoryId" asp-items="@ViewBag.ItemCategories"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Item Tax Group</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="ItemTaxGroupId" asp-items="@ViewBag.ItemTaxGroups"></select></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Pricing</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Sell Description</div>
                        <div class="col-sm-8"><input asp-for="SellDescription" class="form-control" type="text" placeholder="Description ..." /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Sell Price</div>
                        <div class="col-sm-8"><input asp-for="Price" class="form-control" type="text" placeholder="Price ..." /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Sell UOM</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="SellMeasurementId" asp-items="@ViewBag.Measurements"></select></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Purchase Description</div>
                        <div class="col-sm-8"><input asp-for="PurchaseDescription" class="form-control" type="text" placeholder="Description ..." /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Purchase Cost</div>
                        <div class="col-sm-8"><input asp-for="Cost" class="form-control" type="text" placeholder="Cost ..." /></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Purchase UOM</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="PurchaseMeasurementId" asp-items="@ViewBag.Measurements"></select></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Invoicing</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Sales Account</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="SalesAccountId" asp-items="@ViewBag.Accounts"></select></div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-4">Purchase Account</div>
                            <div class="col-sm-8"><select class="form-control" asp-for="SalesAccountId" asp-items="@ViewBag.Accounts"></select></div>
                        </div>*@
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Adjustment</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="InventoryAdjustmentAccountId" asp-items="@ViewBag.Accounts"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Inventory Account</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="InventoryAccountId" asp-items="@ViewBag.Accounts"></select></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Cost of Good Sold</div>
                        <div class="col-sm-8"><select class="form-control" asp-for="CostOfGoodsSoldAccountId" asp-items="@ViewBag.Accounts"></select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left disabledControl" type="submit" value="Save" />
        <a class="btn btn-sm btn-default btn-flat pull-left" href="~/inventory/items">Close</a>
    </div>
</form>
@section scripts{
    <script src="~/js/custom.js" type="text/javascript"></script>
    <script>
        if (@Model.Id !== 0) {
            setFormDisabled("divItemCard");
        }
        
        function onClickEditButton() {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " disabledControl";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
            setFormEnabled("divItemCard");
        }
    </script>
}