<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_Head" />
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <a class="navbar-brand" href="/">
            <span class="text-light">Good Deed Books</span>
        </a>
    </header>
    <div class="app-body">
        <partial name="_LeftNavigation" />
        <!-- left side navigation -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <!-- PAGE CONTENT -->
                <h2>
                    @Html.Raw(ViewBag.PageContentHeader)
                </h2>
                @RenderBody()
                <!-- /PAGE CONTENT -->
            </div>
        </div>
        <aside class="aside-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
                        <i class="icon-list"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                        <i class="icon-speech"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                        <i class="icon-settings"></i>
                    </a>
                </li>
            </ul>

        </aside>
    </div>
    <footer class="app-footer">
        <div>
            <span>Good Deed Books</span>
            <span>&copy; @DateTime.Now.Year All rights reserved.</span>
            &nbsp;|&nbsp;
            @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
            - Build
            @File.GetLastWriteTime(System.Reflection.Assembly.GetExecutingAssembly().Location).ToLocalTime()
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="http://accountgo.net">Good Deed Books</a>
        </div>
    </footer>
    @* <script>
        $('.sub-menu ul').hide();
        $(".sub-menu a").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
        });
    </script> *@
    @* <script src="_framework/blazor.web.js"></script> *@
    <script src="~/_framework/blazor.server.js"></script>
    <!-- PLugins and scripts required by the views -->
    @RenderSection("Scripts", required: false)
</body>

</html>