@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                  <Authorizing>
                        <h2 class="text-light">Authorizing</h2>
                    </Authorizing>
                <NotAuthorized>
                    @if (!context.User.Identity!.IsAuthenticated)
                    {
                        <WebBlazor.Pages.Identity.Login.RedirectToLogin />
                    }
                    else
                    {
                        <h2 class="text-danger">Access Denied</h2>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
</Router>
</CascadingAuthenticationState>

