@model ICollection<AccountGoWeb.Models.Financial.AccountViewModel>

@{
    ViewBag.Title = "Chart of Accounts";
}
<style>
    .hiddenRow {
        padding: 4px !important;
    }
</style>

<div>
    <table class="table table-condensed table-striped">

        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
        </thead>

        <tbody>
            @for(int accountIdx = 0; accountIdx < Model.Count; ++accountIdx)
            {
                var account = Model.ToList()[accountIdx];
                var accountTargetId = $"asset-{accountIdx}";

                <tr data-bs-toggle="collapse" data-bs-target="#@accountTargetId" aria-expanded="false" aria-controls="@accountTargetId">
                    <td>@account.AccountCode</td>
                    <td>@account.AccountName</td>
                    <td>@account.TotalBalance</td>
                    <td>@account.TotalDebitBalance</td>
                    <td>@account.TotalCreditBalance</td>
                </tr>

                <tr>
                    <td colspan="12">
                        <div class="collapse" id="@accountTargetId" aria-expanded="false" aria-controls="@accountTargetId">
                    
                            <table class="table table-striped">
                                @for (int childAccountIdx = 0; childAccountIdx < account.ChildAccounts.Count; ++childAccountIdx)
                                {
                                    var childAccount = account.ChildAccounts.ToList()[childAccountIdx];
                                    var childAccountTargetId = $"asset-{accountIdx}-{childAccountIdx}";

                                    <tr data-bs-toggle="collapse" data-bs-target="#@childAccountTargetId" aria-expanded="false" aria-controls="@childAccountTargetId">
                                        <td>@childAccount.AccountCode</td>
                                        <td>@childAccount.AccountName</td>
                                        <td>@childAccount.TotalBalance</td>
                                        <td>@childAccount.TotalDebitBalance</td>
                                        <td>@childAccount.TotalCreditBalance</td>
                                    </tr>

                                    <tr>
                                        <td colspan="12">
                                            <div class="collapse" id="@childAccountTargetId" aria-expanded="false" aria-controls="@childAccountTargetId">
                                                
                                                <table class="table table-striped">
                                                    @foreach (var grandChildAccount in childAccount.ChildAccounts)
                                                    {
                                                        <tr data-bs-toggle="collapse" data-bs-target="#@childAccountTargetId" aria-expanded="false" aria-controls="@childAccountTargetId">
                                                            <td>@grandChildAccount.AccountCode</td>
                                                            <td>@grandChildAccount.AccountName</td>
                                                            <td>@grandChildAccount.TotalBalance</td>
                                                            <td>@grandChildAccount.TotalDebitBalance</td>
                                                            <td>@grandChildAccount.TotalCreditBalance</td>
                                                        </tr>
                                                    }
                                                </table>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>