@model ICollection<AccountGoWeb.Models.IncomeStatement>

@{
    ViewBag.Title = "Income Statement";
    Layout = "~/Views/Shared/_Layout_bootstrap.cshtml";

    var netIncome = Model?.Where(a => !a.IsExpense).Sum(a => a.Amount) ?? 0 - 
                    Model?.Where(a => a.IsExpense).Sum(a => a.Amount) ?? 0;
}

<h2>Income Statement</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else if (Model == null || !Model.Any())
{
    <p>No data available to display.</p>
}
else
{
    <div>
        <h3>Revenues</h3>
        <table class="table">
            <tr>
                <th>Account Code</th>
                <th>Account Name</th>
                <th style="text-align: right;">Amount</th>
            </tr>
            @foreach (var item in Model.Where(a => !a.IsExpense))
            {
                <tr>
                    <td>@Html.ActionLink(item.AccountCode, "Account", new { id = item.AccountId })</td>
                    <td>@item.AccountName</td>
                    <td style="text-align: right;">@item.Amount</td>
                </tr>
            }
            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold;">Total Revenues</td>
                <td style="text-align: right;">@Model.Where(a => !a.IsExpense).Sum(a => a.Amount)</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Expenses</h3>
        <table class="table">
            <tr>
                <th>Account Code</th>
                <th>Account Name</th>
                <th style="text-align: right;">Amount</th>
            </tr>
            @foreach (var item in Model.Where(a => a.IsExpense))
            {
                <tr>
                    <td>@Html.ActionLink(item.AccountCode, "Account", new { id = item.AccountId })</td>
                    <td>@item.AccountName</td>
                    <td style="text-align: right;">@item.Amount</td>
                </tr>
            }
            <tr>
                <td colspan="2" style="text-align: right; font-weight: bold;">Total Expenses</td>
                <td style="text-align: right;">@Model.Where(a => a.IsExpense).Sum(a => a.Amount)</td>
            </tr>
        </table>
    </div>
    <div style="text-align: right; font-weight: bold; font-size: large;">
        Net Income: @netIncome
    </div>
}
