@model ICollection<AccountGoWeb.Models.TrialBalance>
@{
    ViewBag.Title = "TrialBalance";
}
<div class="w-full grid grid-cols-1 gap-42">
    <div class="dark:bg-gray-800 shadow-md">
        <div class="text-center mb-6">
            <h3>
                <label>Trial Balance as at</label>
                <br />
                @DateTime.Now.ToShortDateString()
            </h3>
        </div>

        <div class="overflow-w-auto w-full mb-6 text-darkPrimary rounded-lg overflow-hidden">
            <table class="w-full table-auto border-collapse bg-white shadow-md text-darkPrimary">
                <thead class="dark:bg-lightPrimary bg-darkSecondary text-white text-sm uppercase font-semibold">
                    <tr>
                        <th class="p-4 border w-1/4 text-center">Account Code</th>
                        <th class="p-4 border w-2/4 text-center">Account Name</th>
                        <th class="p-4 border w-1/4 text-center">Debit</th>
                        <th class="p-4 border w-1/4 text-center">Credit</th>
                    </tr>
                </thead>
                @foreach (var account in Model)
                {
                            <tr class="text-sm uppercase font-semibold hover:bg-slate-100">
                                <td class="p-4 border w-1/4">@Html.ActionLink((string)string.Format("{0}", account.AccountCode), "account", new { id = account.AccountId }, new { @class = "hover:text-blue-600" })</td>
                                <td class="p-4 border w-2/4">@account.AccountName</td>
                                <td class="p-4 border w-1/4 text-right">@account.Debit</td>
                                <td class="p-4 border w-1/4 text-right">@account.Credit</td>
                            </tr>
                }
                <tr class="font-bold">
                    <td colspan="2" class="p-4 border">Total</td>
                    <td class="p-4 border text-right">@Model.Sum(m => m.Debit)</td>
                    <td class="p-4 border text-right">@Model.Sum(m => m.Credit)</td>
                </tr>
            </table>
        </div>
    </div>
</div>