@model Web.Models.ViewModels.Financials.Accounts
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>
@Html.ActionLink("View Pdf", "ViewAccountsPDF")
@Html.ActionLink("Add Account", "AddAccount")
<table class="table">
    <thead>
        <tr>
            <td>Account Code</td>
            <td>Account Name</td>
            <td>Balance</td>
            <td>Debit Balance</td>
            <td>Credit Balance</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.AccountsListLines)
        {
            <tr>
                <td>@Html.ActionLink((string)string.Format("{0}", account.AccountCode), "EditAccount", new { id = account.Id })</td>
                <td>@account.AccountName</td>
                <td>@account.Balance</td>
                <td>@account.DebitBalance</td>
                <td>@account.CreditBalance</td>
            </tr>
        }
    </tbody>
</table>