@model Web.Models.ViewModels.Financials.EditAccountViewModel
@using Web.Models;
@{
    ViewBag.Title = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Account</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="col-md-3 control-label">Account Code</label>
            @Html.TextBoxFor(m => m.AccountCode)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Name</label>
            @Html.TextBoxFor(m => m.AccountName)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Class</label>
            @Html.DisplayFor(m => m.AccountClass)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Parent Account</label>
            @Html.DropDownListFor(m => m.ParentAccountId, ModelViewHelper.Accounts())
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Is Contra Account</label>
            @Html.CheckBoxFor(m => m.IsContraAccount)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Balance</label>
            @Html.DisplayFor(m => m.Balance)
        </div>
    </div>
    <div>
        <input type="submit" value="Save" name="Save" />
    </div>
    <h2>Transactions</h2>
    <div class="panel panel-default panel-body">
        <table class="table">
            <tr>
                <td>Transaction No</td>
                <td>Account Code</td>
                <td>Account Name</td>
                <td>Date</td>
                <td style="text-align: right">Debit</td>
                <td style="text-align: right">Credit</td>
            </tr>
            <tbody>
                @foreach (var gl in Model.Transactions)
                {
                    <tr>
                        <td>@Html.ActionLink((string)string.Format("{0}", gl.TransactionNo), "MasterGeneralLedger", new { transactionNo = gl.TransactionNo })</td>
                        <td>@gl.AccountCode</td>
                        <td>@gl.AccountName</td>
                        <td>@gl.Date</td>
                        <td style="text-align: right">@gl.Debit</td>
                        <td style="text-align: right">@gl.Credit</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="text-align: right; font-weight: bold;">
                    <td colspan="5">Total Debit: @Model.Transactions.Sum(d => d.Debit)</td>
                    <td colspan="2">Total Credit: @Model.Transactions.Sum(c => c.Credit)</td>
                </tr>
            </tfoot>
        </table>
    </div>
}
