@attribute [Route(PageRoutes.Inventory.Items)]
@attribute [Authorize(Roles = "Admin")]
@inherits ItemsBase

@using Dto.Inventory.Response

<div class="container-fluid content-padding">
    <RadzenStack class="mb-3" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
        <RadzenText class="m-0 text-success"  TextAlign="TextAlign.Start" TextStyle="TextStyle.H5" TagName="TagName.H5">Item List</RadzenText>
       
    </RadzenStack>

    <RadzenStack>
        <RadzenStack JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
            <RadzenTextBox Style="border-radius:7px" class="w-25" Placeholder="Search code or name"></RadzenTextBox>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Create" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Click="GotoCreateItem"></RadzenButton>
                <RadzenButton Icon="@("<i class=\"fa-solid fa-rotate-right\"></i>")" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenStack>

        <RadzenDataGrid @ref="grid" style="height: 600px"
                        AllowVirtualization="true"
                        IsLoading=@isLoading
                        Data="@items"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowSorting="true"
                        AllowFiltering="true"
                        AllowPaging="false"
                        PagerHorizontalAlign="HorizontalAlign.Center"
                        TItem="GetItem" ColumnWidth="150px">
            <Columns>
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.ProductNo)"
                                      Filterable="true" Title="Product No"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.Name)"
                                      Filterable="true" Title="Name"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.SKU)"
                                      Filterable="true" Title="SKU"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.Measurement)"
                                      Filterable="true" Title="UoM"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.Cost)"
                                      Filterable="true" Title="Cost"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.Price)"
                                      Filterable="true" Title="Price"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
                <RadzenDataGridColumn TItem="GetItem"
                                      Property="@nameof(GetItem.QtyOnHand)"
                                      Filterable="true" Title="Qty on Hand"
                                      Frozen="false"
                                      TextAlign="TextAlign.Start" />
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>

</div>