@model AccountGoWeb.Models.Purchasing.Payment

<form action="~/purchasing/payment" method="post">
    <div class="col-md-9">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Invoice No</div>
                        <div class="col-sm-8">@Html.DisplayFor(m => m.InvoiceNo)</div>
                        @Html.HiddenFor(m => m.InvoiceId)
                        @Html.HiddenFor(m => m.InvoiceNo)
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Vendor Name</div>
                        <div class="col-sm-8">@Html.DisplayFor(m => m.VendorName)</div>
                        @Html.HiddenFor(m => m.VendorId)
                        @Html.HiddenFor(m => m.VendorName)
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Invoice Date</div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.Date)
                            @Html.HiddenFor(m => m.Date)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Invoice Amount</div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.InvoiceAmount)
                            @Html.HiddenFor(m => m.InvoiceAmount)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Amount Paid</div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.AmountPaid)
                            @Html.HiddenFor(m => m.AmountPaid)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Balance</div>
                        <div class="col-sm-8">
                            @Html.DisplayFor(m => m.Balance)
                            @Html.HiddenFor(m => m.Balance)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Amount to Pay</div>
                        <div class="col-sm-8">
                            <input asp-for="AmountToPay" class="form-control" type="text" placeholder="Amount ..." />
                            <span asp-validation-for="AmountToPay" class="danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Account</div>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="AccountId" asp-items="@ViewBag.CashBanks"></select>
                            <span asp-validation-for="AccountId" class="danger"></span>
                            @Html.HiddenFor(m => m.AccountId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/purchasing/purchaseinvoices" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>