@model Dto.Purchasing.Vendor

<div>
    <a href="#" id="linkEdit" class="btn" onclick="onClickEditButton();">
        <i class="fa fa-edit"></i>
        Edit
    </a>
    <a href="~/contact/contact?id=0&partyId=@Model.Id&partyType=2" class="btn">
        <i class="fa fa-plus"></i>
        Add Contact
    </a>
</div>
<form action="~/purchasing/savevendor" method="post">
    <div id="divVendorCard" class="col-md-9">
        @Html.HiddenFor(m => m.Id)
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-2">No</div>
                        <div class="col-sm-10">@Model.No</div>
                        @Html.HiddenFor(m => m.No)
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Name</div>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" type="text" placeholder="Name ..." />
                            <span asp-validation-for="Name" class="danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-2">Phone</div>
                        <div class="col-sm-10">
                            <input asp-for="Phone" class="form-control" type="text" placeholder="Phone ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Fax</div>
                        <div class="col-sm-10">
                            <input asp-for="Fax" class="form-control" type="text" placeholder="Fax ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Website</div>
                        <div class="col-sm-10">
                            <input asp-for="Website" class="form-control" type="text" placeholder="Website ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Email</div>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" type="text" placeholder="Email ..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Contact</h3>
                <a href="~/contact/Contacts?partyId=@Model.Id&partyType=2" id="linkContacts" class="btn">
                    ...
                </a>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">First Name</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.FirstName" class="form-control" type="text" placeholder="Phone ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Last Name</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.LastName" class="form-control" type="text" placeholder="Fax ..." />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Phone</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.Party.Phone" class="form-control" type="text" placeholder="Phone ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Fax</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.Party.Fax" class="form-control" type="text" placeholder="Fax ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Website</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.Party.Website" class="form-control" type="text" placeholder="Website ..." />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Email</div>
                        <div class="col-sm-8">
                            <input asp-for="PrimaryContact.Party.Email" class="form-control" type="text" placeholder="Email ..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Invoicing</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">Accounts Payable</div>
                        <div class="col-sm-6">
                            <select class="form-control" asp-for="AccountsPayableAccountId" asp-items="@ViewBag.Accounts"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Purchase</div>
                        <div class="col-sm-6">
                            <select class="form-control" asp-for="PurchaseAccountId" asp-items="@ViewBag.Accounts"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Discount</div>
                        <div class="col-sm-6">
                            <select class="form-control" asp-for="PurchaseDiscountAccountId" asp-items="@ViewBag.Accounts"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Tax Group</div>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="TaxGroupId" asp-items="@ViewBag.TaxGroups"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Payment</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Payment Term</div>
                        <div class="col-sm-8">
                            <select class="form-control" asp-for="PaymentTermId" asp-items="@ViewBag.PaymentTerms"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left disabledControl" type="submit" value="Save" />
        <a href="~/purchasing/vendors" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>
@section scripts{
    <script src="~/js/custom.js" type="text/javascript"></script>
    <script>
 

        if (@Model.Id > 0) {
            setFormDisabled("divVendorCard");
        }
        else {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " btn inactiveLink";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
        }

        function onClickEditButton() {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " disabledControl";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
            setFormEnabled("divVendorCard");
        }
    </script>
}