@model AccountGoWeb.Models.Sales.AddReceipt

<form action="~/sales/addreceipt" method="post">
    <div class="col-sm-6">
        @Html.ValidationSummary(true)
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-2">Customer</div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customers" id="optCustomer" onchange="customerOnChange();"></select>
                        <span asp-validation-for="CustomerId" class="danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Date</div>
                    <div class="col-sm-10">
                        <input class="form-control pull-right" type="date" asp-for="ReceiptDate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Debit</div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="AccountToDebitId" asp-items="@ViewBag.DebitAccounts"></select>
                        <span asp-validation-for="AccountToDebitId" class="danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Credit</div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="AccountToCreditId" id="optAccountToCreditId" asp-items="@ViewBag.CreditAccounts"></select>
                        @Html.HiddenFor(m => m.AccountToCreditId)
                        <span asp-validation-for="AccountToCreditId" class="danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Amount</div>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Amount" type="text" placeholder="0.0 ..." />
                        <span asp-validation-for="Amount" class="danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/sales/salesreceipts" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>
@section scripts{
    <script>
        var customers = @Html.Raw(ViewBag.CustomersDetail);

        function customerOnChange() {
            var customerId = document.getElementById("optCustomer").value;
            var element = document.getElementById("optAccountToCreditId");

            for(var i = 0; i < customers.length; i++){
                if(customerId === customers[i].Id.toString())
                {
                    var customer = customers[i];
                    for(var i=0; i < element.options.length; i++)
                    {
                        if(element.options[i].value === customer.PrepaymentAccountId.toString()) {
                            element.selectedIndex = i;
                            document.getElementById("optAccountToCreditId").value = customer.PrepaymentAccountId;
                            break;
                        }
                    }
                }
                else
                    element.selectedIndex = element.options.length - element.options.length;
            }
        }
    </script>
}