@model Dto.Sales.SalesInvoice

<style>
    tr, td, div.row {
        color: white;
    }
</style>

<form action="~/Sales/AddSalesInvoice" method="post">
    <div class="col-sm-10">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-body">
                @* Customer *@
                <div class="row">
                    <div class="col-sm-3">Customer</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customers"
                            id="optCustomer"></select>
                        <span asp-validation-for="CustomerId" class="danger"></span>
                    </div>
                </div>
                @* Payment Term *@
                <div class="row">
                    <div class="col-sm-3">Payment Term</div>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="PaymentTermId" asp-items="@ViewBag.PaymentTerms"
                            id="optPayment"></select>
                        <span asp-validation-for="PaymentTermId" class="danger"></span>
                    </div>
                </div>
                @* Posted *@
                <div class="row">
                    <div class="col-sm-3">Posted</div>
                    <div class="col-sm-8">
                        <input class="form-control" asp-for="Posted" type="checkbox" />
                        <span asp-validation-for="Posted" class="danger"></span>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Discount</th>
                        <th>Measurement</th>
                    </thead>
                    <tbody>@for (int i = 0; i < Model.SalesInvoiceLines.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DropDownListFor(model => model.SalesInvoiceLines[i].ItemId,
                                             (IEnumerable<SelectListItem>)ViewBag.Items, new
                                             {
                                                 @class = "form-control",
                                                 id =
                                             "optItem"
                                             })
                                    <span asp-validation-for="SalesInvoiceLines[i].ItemId" class="danger"></span>
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.SalesInvoiceLines[i].Quantity, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control"
                                            }
                                        })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.SalesInvoiceLines[i].Amount, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control"
                                            }
                                        })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.SalesInvoiceLines[i].Discount, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control"
                                            }
                                        })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.SalesInvoiceLines[i].MeasurementId,
                                             (IEnumerable<SelectListItem>)ViewBag.Measurements,
                                             new { @class = "form-control", id = $"optMeasurement_{i}" })
                                    <span asp-validation-for="SalesInvoiceLines[i].MeasurementId" class="danger"></span>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>
                                <button type="submit" name="addRowBtn" value="true" class="btn btn-primary">Add
                                    Row</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/sales/addsalesorder" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>