@model AccountGoWeb.Models.Sales.Allocate

<form action="~/sales/allocate" method="post">
    <div class="col-md-9">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">General</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Receipt No</div>
                        <div class="col-sm-8">
                            @ViewBag.ReceiptNo
                            @Html.HiddenFor(m => m.ReceiptId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Customer Name</div>
                        <div class="col-sm-8">
                            @ViewBag.CustomerName
                            @Html.HiddenFor(m => m.CustomerId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Receipt Date</div>
                        <div class="col-sm-8">
                            @Model.Date
                            @Html.HiddenFor(m => m.Date)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Amount</div>
                        <div class="col-sm-8">
                            @Model.Amount
                            @Html.HiddenFor(m => m.Amount)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Remaining</div>
                        <div class="col-sm-8">
                            @Model.RemainingAmountToAllocate
                            @Html.HiddenFor(m => m.RemainingAmountToAllocate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Invoice</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="box-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Invoice No</th>
                                <th>Amount</th>
                                <th>Allocated Amount</th>
                                <th>To Allocate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.AllocationLines.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Model.AllocationLines[i].InvoiceId
                                        @Html.HiddenFor(m => Model.AllocationLines[i].InvoiceId)
                                    </td>
                                    <td>
                                        @Model.AllocationLines[i].Amount
                                    </td>
                                    <td>
                                        @Model.AllocationLines[i].AllocatedAmount
                                    </td>
                                    <td>
                                        <input asp-for="@Model.AllocationLines[i].AmountToAllocate" class="form-control" type="text" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/sales/salesreceipts" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>