@model Dto.Sales.SalesInvoice

<style>
    tr th {
        color: #fff;
    }

    tr td {
        color: #fff;
    }
</style>

<div>
    <a href="#" id="linkEdit" class="btn" onclick="onClickEditButton();">
        <i class="fa fa-edit"></i>
        Edit
    </a>
</div>

<form action="~/Sales/SaveSalesInvoice" method="post">
    <div id="divSalesInvoiceCard" class="col-md-11">
@Html.HiddenFor(m => m.Id)
        <div class="card">
            <div class="card-body show row" id="general">
                <div class="col-sm-10">
                    @* ID *@
                    <div class="row">
                        <div class="col-sm-5">ID</div>
                        <div class="col-sm-7">@Model.Id</div>
                    </div>
                    @* Customer Name *@
                    <div class="row">
                        <div class="col-sm-5" id="customer-name">Customer Name</div>
                        <div class="col-sm-7">
                            <select class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customers"
                                id="optCustomer"></select>
                            <span asp-validation-for="CustomerId" class="danger"></span>
                            @Html.HiddenFor(m => m.CustomerId)
                        </div>
                    </div>
                    @* Invoice Date *@
                    <div class="row">
                        <div class="col-sm-5">Invoice Date</div>
                        <div class="col-sm-7">
                            <input class="form-control pull-right" type="date" asp-for="InvoiceDate">
                        </div>
                    </div>
                    @* Total Amount *@
                    <div class="row">
                        <div class="col-sm-5">Total Amount</div>
                        <div class="col-sm-7">@ViewBag.TotalAmount</div>
                    </div>
                </div>
            </div>

            @* Table *@
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Measurement</th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SalesInvoiceLines.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.SalesInvoiceLines[i].Id
                                @Html.HiddenFor(m => m.SalesInvoiceLines[i].Id)
                            </td>
                            <td>
                                <select class="form-control" asp-for="@Model.SalesInvoiceLines[i].ItemId" asp-items="@ViewBag.Items"
                                    id="optCustomer" required></select>
                                <span asp-validation-for="@Model.SalesInvoiceLines[i].ItemId" class="danger"></span>
                            </td>
                            <td>
                                <input class="form-control" asp-for="@Model.SalesInvoiceLines[i].Quantity" type="text" placeholder="0.0 ..." required/>
                                <span asp-validation-for="@Model.SalesInvoiceLines[i].Quantity" class="danger"></span>
                            </td>
                            <td>
                                <input class="form-control" asp-for="@Model.SalesInvoiceLines[i].Amount" type="text" placeholder="0.0 ..." required/>
                                <span asp-validation-for="@Model.SalesInvoiceLines[i].Amount" class="danger"></span>
                            </td>
                            <td>
                                <input class="form-control" asp-for="@Model.SalesInvoiceLines[i].Discount" type="text" placeholder="0.0 ..." required/>
                                <span asp-validation-for="@Model.SalesInvoiceLines[i].Discount" class="danger"></span>
                            </td>
                            <td>
                                <select class="form-control" asp-for="@Model.SalesInvoiceLines[i].MeasurementId" asp-items="@ViewBag.Measurements"
                                    id="optCustomer" required></select>
                                <span asp-validation-for="@Model.SalesInvoiceLines[i].MeasurementId" class="danger"></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left disabledControl" type="submit" value="Save" />
        <a href="~/sales/salesinvoices" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>

@section scripts{
    <script src="~/js/custom.js" type="text/javascript"></script>
    <script>
 

        if (@Model.Id > 0) {
            setFormDisabled("divSalesInvoiceCard");
        }
        else {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " btn inactiveLink";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
        }

        function onClickEditButton() {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " disabledControl";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
            setFormEnabled("divSalesInvoiceCard");
        }
    </script>
}