@model Dto.Sales.SalesOrder

<style>
    tr th {
        color: #fff;
    }

    tr td {
        color: #fff;
    }
</style>

<div>
    <a href="#" id="linkEdit" class="btn" onclick="onClickEditButton();">
        <i class="fa fa-edit"></i>
        Edit
    </a>
</div>
<form action="#" method="post">
    <div id="divSlaesOrderCard" class="col-md-9">
        <div class="card">
            <div class="card-body collapse show row" id="general">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5">Customer Name</div>
                        <div class="col-sm-7">@ViewBag.CustomerName</div>
                    </div>
                    @* Order Date *@
                    <div class="row">
                        <div class="col-sm-5">Order Date</div>
                        <div class="col-sm-7">@ViewBag.OrderDate</div>
                    </div>
                    @* Total Amount *@
                    <div class="row">
                        <div class="col-sm-5">Total Amount</div>
                        <div class="col-sm-7">@ViewBag.TotalAmount</div>
                    </div>
                    <table class="table">
                        <thead>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Discount</th>
                            <th>Measurement</th>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.SalesOrderLines.Count; i++)
                            {
                                <tr>
                                    <td>@Model.SalesOrderLines[i].ItemDescription</td>
                                    <td>@Model.SalesOrderLines[i].Quantity</td>
                                    <td>@Model.SalesOrderLines[i].Amount</td>
                                    <td>@Model.SalesOrderLines[i].Discount</td>
                                    <td>@Model.SalesOrderLines[i].MeasurementDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>