<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AccountGo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AccountGo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales<span class="caret" /></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("New Sales Order", "SalesOrder", "Sales", null, null)</li>
                                        <li>@Html.ActionLink("Direct Delivery", "SalesDelivery", "Sales", null, null)</li>
                                        <li>@Html.ActionLink("Direct Invoice", "SalesInvoice", "Sales", null, null)</li>
                                        <li>@Html.ActionLink("Delivery Against Sales Order", "SalesOrders", "Sales")</li>
                                        <li>@Html.ActionLink("Invoice Against Sales Delivery", "SalesDeliveries", "Sales")</li>
                                        @*<li class="divider"></li>*@
                                        @*<li>@Html.ActionLink("Customer Payments", "AddCustomerPayment", "Sales")</li>*@
                                        @*<li>@Html.ActionLink("Allocate Customer Payments", "AllocateCustomerPayment", "Sales")</li>*@
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports and Inquiries</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Sales Orders", "SalesOrders", "Sales")</li>
                                        <li>@Html.ActionLink("Sales Receipts", "Receipts", "Sales")</li>
                                        <li>@Html.ActionLink("Sales Deliveries", "SalesDeliveries", "Sales")</li>
                                        <li>@Html.ActionLink("Sales Invoices", "SalesInvoices", "Sales")</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Customers", "Customers", "Sales", null, null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Purchase<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("New Purchase Order", "PurchaseOrder", "Purchasing")</li>
                                        <li>@Html.ActionLink("Direct Goods Receipt", "PurchaseDelivery", "Purchasing")</li>
                                        <li>@Html.ActionLink("Direct Purchase Invoice", "PurchaseInvoice", "Purchasing")</li>
                                        @*<li class="divider"></li>*@
                                        @*<li>@Html.ActionLink("Allocate Vendor Payments", "AllocateVendorPayment", "Purchasing")</li>*@
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports and Inquiries</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Purchase Orders", "PurchaseOrders", "Purchasing")</li>
                                        <li>@Html.ActionLink("Purchase Receipts", "PurchaseInvoices", "Purchasing")</li>
                                        <li>@Html.ActionLink("Purchase Invoices", "PurchaseInvoices", "Purchasing")</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Vendors", "Vendors", "Purchasing")</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items and Invetory<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Items", "Items", "Inventory")</li>
                                <li>@Html.ActionLink("Inventory Control Journal", "InventoryControlJournal", "Inventory")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Trial Balance", "TrialBalance", "Financial")</li>
                                <li>@Html.ActionLink("Income Statement", "IncomeStatement", "Financial")</li>
                                <li>@Html.ActionLink("Balance Sheet", "BalanceSheet", "Financial")</li>
                                @*                        <li>@Html.ActionLink("Outstanding Balances", "OutstandingBalances", "Financial")</li>*@
                                <li>@Html.ActionLink("Master General Ledger", "MasterGeneralLedger", "Financial")</li>
                                <li>@Html.ActionLink("Chart of Accounts", "Accounts", "Financial", null, null)</li>
                                <li>@Html.ActionLink("Journal Entries", "JournalEntries", "Financial")</li>
                            </ul>
                        </li>
                        //if (User.IsInRole("Admin"))
                        //{
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Generate Invoices", "BulkInvoice", "Administration")</li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup</a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Company Setup", "Index", "Administration")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Taxes", "Taxes", "Administration")</li>
                                        <li>@Html.ActionLink("Tax Groups", "Index", "Administration")</li>
                                        <li>@Html.ActionLink("Item Tax Groups", "ItemTaxGroups", "Administration")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Banks", "Banks", "Financial")</li>
                                        <li>@Html.ActionLink("Fiscal Years", "Index", "Administration")</li>
                                        <li>@Html.ActionLink("General Ledger Setup", "GeneralLedgerSetting", "Financial")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Payment Terms", "Index", "Administration")</li>
                                    </ul>
                                    @*<li>@Html.ActionLink("User Management", "Index", "Account")</li>
                                        <li>@Html.ActionLink("Roles Management", "RolesIndex", "Account")</li>*@
                            </ul>
                        </li>
                        //}
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AccountGo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".datefield").datepicker();
        });

        $(function () {
            $(".dropdown-menu > li > a.trigger").on("click", function (e) {
                var current = $(this).next();
                var grandparent = $(this).parent().parent();
                if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                    $(this).toggleClass('right-caret left-caret');
                grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                grandparent.find(".sub-menu:visible").not(current).hide();
                current.toggle();
                e.stopPropagation();
            });
            $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
                var root = $(this).closest('.dropdown');
                root.find('.left-caret').toggleClass('right-caret left-caret');
                root.find('.sub-menu:visible').hide();
            });
        });
    </script>
    <script>
        function PrintPdf(action) {
            var id = $('#Id').val();
            window.open('/Reports/' + action + '?id=' + id, '_blank');
        }
    </script>
</body>
</html>
