@model Dto.Sales.SalesQuotation


<style>
    tr th {
        color: #fff;
    }

    tr td {
        color: #fff;
    }
</style>

<form action="~/Quotations/AddSalesQuotation" method="post">
    <div class="col-sm-8">
        @Html.ValidationSummary(true)
        <div class="card">
            <div class="card-body">
                @* Customer *@
                <div class="row">
                    <div class="col-sm-2">Customer</div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customers"
                            id="optCustomer" onchange="customerOnChange();"></select>
                        <span asp-validation-for="CustomerId" class="danger"></span>
                    </div>
                </div>
                @* Payment Term *@
                <div class="row">
                    <div class="col-sm-2">Payment Term</div>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="PaymentTermId" asp-items="@ViewBag.PaymentTerms"
                            id="optCustomer"></select>
                        <span asp-validation-for="PaymentTermId" class="danger"></span>
                    </div>
                </div>
            </div>
            <table class="table" id="table">
                <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Measurement</th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SalesQuotationLines.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DropDownListFor(model => model.SalesQuotationLines[i].ItemId,
                                         (IEnumerable<SelectListItem>)ViewBag.Items, new { @class = "form-control", id = "optItem" })
                                <span asp-validation-for="SalesQuotationLines[i].ItemId" class="danger"></span>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SalesQuotationLines[i].Quantity, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SalesQuotationLines[i].Amount, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SalesQuotationLines[i].Discount, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.SalesQuotationLines[i].MeasurementId,
                                         (IEnumerable<SelectListItem>)ViewBag.Measurements,
                                         new { @class = "form-control", id = $"optMeasurement_{i}" })
                                <span asp-validation-for="SalesQuotationLines[i].MeasurementId" class="danger"></span>
                            </td>

                        </tr>
                    }
                    <tr>
                        <td>
                            <button type="submit" name="addRowBtn" value="true" class="btn btn-primary">Add Row</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left" type="submit" value="Save" />
        <a href="~/Quotations/Quotations" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        var customers = @Html.Raw(ViewBag.CustomersDetail);

        function customerOnChange() {
            var customerId = document.getElementById("optCustomer").value;
            var element = document.getElementById("optAccountToCreditId");

            for (var i = 0; i < customers.length; i++) {
                if (customerId === customers[i].Id.toString()) {
                    var customer = customers[i];
                    for (var i = 0; i < element.options.length; i++) {
                        if (element.options[i].value === customer.PrepaymentAccountId.toString()) {
                            element.selectedIndex = i;
                            document.getElementById("optAccountToCreditId").value = customer.PrepaymentAccountId;
                            break;
                        }
                    }
                }
                else
                    element.selectedIndex = element.options.length - element.options.length;
            }
        }
    </script>
}