@model IEnumerable<Web.Models.ViewModels.Items.InventoryControlJournal>
@{
    ViewBag.Title = "InventoryControlJournal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory Control Journal</h2>
<div class="panel panel-default panel-body">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Measurement</th>
                <th>In</th>
                <th>Out</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var icj in Model)
            {
                <tr>
                    <td>@icj.Date.ToShortDateString()</td>
                    <td>@icj.Item</td>
                    <td>@icj.Measurement</td>
                    <td>@icj.In</td>
                    <td>@icj.Out</td>
                </tr>
            }
        </tbody>
    </table>
</div>
