@model Web.Models.ViewModels.Financials.GeneralLedgerSettingViewModel
@using Web.Models;
@{
    ViewBag.Title = "GeneralLedgerSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Ledger Setting</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        <div class="row">
            <div class="col-md-6">Company</div>
            <div class="col-md-6">@Html.DisplayFor(m => m.CompanyCode)</div>
            @Html.HiddenFor(m => m.CompanyId)
        </div>
        <div class="row">
            <div class="col-md-6">Payable Account</div>
            <div class="col-md-6">@Html.DropDownListFor(m => m.PayableAccountId, ModelViewHelper.Accounts())</div>
        </div>
        <div class="row">
            <div class="col-md-6">Purchase Discount Account</div>
            <div class="col-md-6">@Html.DropDownListFor(m => m.PurchaseDiscountAccountId, ModelViewHelper.Accounts())</div>
        </div>
        <div class="row">
            <div class="col-md-6">Goods Receipt Note Clearing Account</div>
            <div class="col-md-6">@Html.DropDownListFor(m => m.GoodsReceiptNoteClearingAccountId, ModelViewHelper.Accounts())</div>
        </div>
        <div class="row">
            <div class="col-md-6">Sales Discount Account</div>
            <div class="col-md-6">@Html.DropDownListFor(m => m.SalesDiscountAccountId, ModelViewHelper.Accounts())</div>
        </div>
        <div class="row">
            <div class="col-md-6">Shipping Charge Account</div>
            <div class="col-md-6">@Html.DropDownListFor(m => m.ShippingChargeAccountId, ModelViewHelper.Accounts())</div>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" name="Save" />
    </div>
}